@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

/* Reset all element attributes */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

/* Box Sizing: Include padding and border in width/height */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/*
PAGE LAYOUT
*/

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #000;
  /*background-image:
    linear-gradient(60deg,
      rgba(0,0,0,.25),
      rgba(0,0,0,.25)
    ),
    url("../../images/2_sm.jpeg");*/
  background-repeat: no-repeat;
  /*background-repeat: repeat, no-repeat, no-repeat;*/
  background-size: cover;
	/*background-size: 100px 100px, cover, cover;*/
	background-position: center center;
	background-attachment: fixed;
}

/* SMALLER SCREENS */
@media screen and (max-width: 950px) {

	body {
    background-position: center right;
	}

}

/* End of body element to show footer */
body:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0;
	z-index: 1;
	/*background-color: #000;
  background-image:
    linear-gradient(60deg,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)
    ),
    url("../../images/2_sm.jpeg");
	background-repeat: repeat, no-repeat;
	background-size: 100px 100px, cover;
	background-position: top left,		center center;*/
}

body.is-loading:after {
	opacity: 1;
}



/*
TEXT PROPERTIES
*/

body, input, select, textarea {
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  /*letter-spacing: .2em;*/
  letter-spacing: .1em;
}

/*
ANIMATIONS & TRANSITIONS
*/
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body:after {
  -moz-transition: opacity 1.75s ease-out;
  -webkit-transition: opacity 1.75s ease-out;
  -ms-transition: opacity 1.75s ease-out;
  transition: opacity 1.75s ease-out;
}


/*
MAIN CONTENT
*/

div#main-wrapper {
  min-height: 100%;
	padding: 1.5em;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	z-index: 2;
}

#wrapper > * {
	z-index: 1;
}

#wrapper:before {
	content: '';
	display: block;
}
