@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

/* Reset all element attributes */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

/* Box Sizing: Include padding and border in width/height */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/*
PAGE LAYOUT
*/

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/* SMALLER SCREENS */
@media screen and (max-width: 950px) {

	body {
    background-position: center right;
	}

}

/* End of body element to show footer */
body:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
}



/*
TEXT PROPERTIES
*/

body, input, select, textarea {
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*
ANIMATIONS & TRANSITIONS
*/
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body:after {
  -moz-transition: opacity 1.75s ease-out;
  -webkit-transition: opacity 1.75s ease-out;
  -ms-transition: opacity 1.75s ease-out;
  transition: opacity 1.75s ease-out;
}


/*
MAIN CONTENT
*/

div#main-wrapper {
  min-height: 100%;
	padding: 1.5em;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	z-index: 2;
}

#main-wrapper:before {
	content: '';
	display: block;
}

/*
Main Information
*/

#main {
	position: relative;
  max-width: 50em;
	min-width: 19em;
	padding: 2em 0em ;
  left: 8em;
	cursor: default;
  background-color: rgba(255,255,255,.9);
	text-align: center;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	/*-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;*/
}

#main .content {
  min-height: 12em;
  width: 50%;
}

#main .image {
  border-right: 1px solid #c8cccf;
  float: left;
}

#main .image h1 {
  padding-bottom: 1.5em;
}

#main .image img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
  border: 2px solid #c8cccf;
  /*transform: scale(.75);*/
}

#main .info {
  border-left: 1px solid #c8cccf;
  padding: 0 1em;
  float: right;
}

#main .info .display{
  min-height: 6em;
}

@media screen and (max-width: 1200px) {
  #main {
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  #main .content {
    display; block;
    float: none;
    width: 100%;
  }

  #main .image {
    border-right: none;
  }

	#main .image:after {
		content: '';
		display: block;
		position: absolute;
    left: 3em;
		width: calc(100% - 7em);
		height: 2px;
		background: #c8cccf;
	}

  #main .image img {
    margin-bottom: 2em;
  }

  #main .info {
    padding-top: 1em;
    border-left: none;
  }

  #main .info h1 {
    padding-left: 1em;
    padding-right: 1em;
  }
}



/*
  List
*/

ol {
	list-style: decimal;
	margin: 0 0 1.5em 0;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px #86888a;
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -0.675em;
}

ul.icons li {
	display: inline-block;
	padding: 0.675em 0.25em;
}

ul.icons li a {
	text-decoration: none;
	position: relative;
	display: block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 100%;
	border: solid 1px #86888a;
	line-height: 3.75em;
	overflow: hidden;
	text-align: center;
	text-indent: 3.75em;
	white-space: nowrap;
}

ul.icons li a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.icons li a:before {
	color: #ffffff;
	text-shadow: 1.25px 0px 0px #86888a, -1.25px 0px 0px #86888a, 0px 1.25px 0px #86888a, 0px -1.25px 0px #86888a;
}

ul.icons li a:hover:before {
	text-shadow: 1.25px 0px 0px #296a9a, -1.25px 0px 0px #296a9a, 0px 1.25px 0px #296a9a, 0px -1.25px 0px #296a9a;
}

ul.icons li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 1.85rem;
	line-height: inherit;
	text-align: center;
	text-indent: 0;
}

ul.icons li a:hover {
	border-color: #296a9a;
}

@media screen and (max-width: 480px) {
	ul.icons li a:before {
		font-size: 1.5rem;
	}
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 0.75em 0 0;
	vertical-align: middle;
}

ul.actions li:last-child {
	padding-right: 0;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	display: block;
	margin: 0 0 0.75em 0;
}

dl dd {
	margin-left: 1.5em;
}
